<!DOCTYPE html>
<html lang="en">
<head>
	<title>InventoryManager</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
<!--================================================================================================-->
	<script src="InventoryManager.js"></script
</head>

<body ng-app="myApp" ng-controller="inventoryController">

	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" ng-submit="placeOrder()">
								<span class="contact100-form-title">
									Update Inventory
								</span>
								<label class="label-input100" for="first-name">Tell us your requirements</label>
								<div class="wrap-input100 rs1-wrap-input100">
									<input  class="input100" type="text" placeholder="" value="Red" readonly>
									<span class="focus-input100"></span>
								</div>
								<div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Enter Quantity">
									<input class="input100" type="number" ng-model="orders.redquantity" placeholder="Quantity">
									<span class="focus-input100"></span>
								</div>
								<div class="wrap-input100 rs1-wrap-input100">
									<input class="input100" type="text" placeholder="" value="Green" readonly>
									<span class="focus-input100"></span>
								</div>
								<div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Enter Quantity">
									<input class="input100" type="number" ng-model="orders.greenquantity" placeholder="Quantity">
									<span class="focus-input100"></span>
								</div>
								<div class="wrap-input100 rs1-wrap-input100">
									<input class="input100" type="text" placeholder="" value="Blue" readonly>
									<span class="focus-input100"></span>
								</div>
								<div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Enter Quantity">
									<input class="input100" type="number" ng-model="orders.bluequantity" placeholder="Quantity">
									<span class="focus-input100"></span>
								</div>
								<div class="wrap-input100 rs1-wrap-input100">
									<input class="input100" type="text" placeholder="" value="Black" readonly>
									<span class="focus-input100"></span>
								</div>
								<div class="wrap-input100 rs2-wrap-input100 validate-input"  data-validate="Enter Quantity">
									<input class="input100" type="number" ng-model="orders.blackquantity" placeholder="Quantity">
									<span class="focus-input100"></span>
								</div>
								<div class="wrap-input100 rs1-wrap-input100">
									<input class="input100" type="text" placeholder="" value="Yellow" readonly>
									<span class="focus-input100"></span>
								</div>
								<div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Enter Quantity">
									<input class="input100" type="number" ng-model="orders.yellowquantity" placeholder="Quantity">
									<span class="focus-input100"></span>
								</div>
								<div class="wrap-input100 rs1-wrap-input100">
									<input class="input100" type="text" placeholder="" value="White" readonly>
									<span class="focus-input100"></span>
								</div>
								<div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Enter Quantity">
									<input class="input100" type="number" ng-model="orders.whitequantity" placeholder="Quantity">
									<span class="focus-input100"></span>
								</div>
								<div class="container-contact100-form-btn">
									<button type="submit" class="contact100-form-btn">
									Update Inventory
									</button>
								</div>

			</form>

			<form class="contact100-form validate-form" ng-submit="viewInventory()">
								<span class="contact100-form-title">
									View Inventory
								</span>
								<label class="label-input100" for="first-name">	Items remaining</label>
								<div class="wrap-input100 rs1-wrap-input100">
									<input  class="input100" type="text" placeholder="" value="Red" readonly>
									<span class="focus-input100"></span>
								</div>
								<div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Enter Quantity">
									<input class="input100" type="number" ng-model="orders.red" placeholder="Quantity" readonly>
									<span class="focus-input100"></span>
								</div>
								<div class="wrap-input100 rs1-wrap-input100">
									<input class="input100" type="text" placeholder="" value="Green" readonly>
									<span class="focus-input100"></span>
								</div>
								<div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Enter Quantity">
									<input class="input100" type="number" ng-model="orders.green" placeholder="Quantity" readonly>
									<span class="focus-input100"></span>
								</div>
								<div class="wrap-input100 rs1-wrap-input100">
									<input class="input100" type="text" placeholder="" value="Blue" readonly>
									<span class="focus-input100"></span>
								</div>
								<div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Enter Quantity">
									<input class="input100" type="number" ng-model="orders.blue" placeholder="Quantity" readonly>
									<span class="focus-input100"></span>
								</div>
								<div class="wrap-input100 rs1-wrap-input100">
									<input class="input100" type="text" placeholder="" value="Black" readonly>
									<span class="focus-input100"></span>
								</div>
								<div class="wrap-input100 rs2-wrap-input100 validate-input"  data-validate="Enter Quantity">
									<input class="input100" type="number" ng-model="orders.black" placeholder="Quantity" readonly>
									<span class="focus-input100"></span>
								</div>
								<div class="wrap-input100 rs1-wrap-input100">
									<input class="input100" type="text" placeholder="" value="Yellow" readonly>
									<span class="focus-input100"></span>
								</div>
								<div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Enter Quantity">
									<input class="input100" type="number" ng-model="orders.yellow" placeholder="Quantity" readonly>
									<span class="focus-input100"></span>
								</div>
								<div class="wrap-input100 rs1-wrap-input100">
									<input class="input100" type="text" placeholder="" value="White" readonly>
									<span class="focus-input100"></span>
								</div>
								<div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Enter Quantity">
									<input class="input100" type="number" ng-model="orders.white" placeholder="Quantity" readonly>
									<span class="focus-input100"></span>
								</div>


			</form>



		</div>
	</div>



	<div id="dropDownSelect1"></div>


	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->


</body>
</html>
